<ion-header *ngIf="tipo == 'reserva'">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Crear reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'reserva'">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
     
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-input id="input-date"  (ionChange)="eventDate($event)" type="date" formControlName="fecha" min="{{actual
          }}" max="2050" ></ion-input>
        </ion-item>
        <br>
        <ion-item [disabled]="!conditionHora" (click)="searchHora()">
          <ion-label >Seleccionar la hora</ion-label>
        <h6 *ngIf="controlHora == true">{{dataHour}}</h6>
        <h6 *ngIf="controlHora == false">Seleccionar la hora</h6>

        </ion-item>
        <br>
        <div  class="ion-text-center">
          <!-- <ion-item> -->
            <ion-button (click)="searchCliente()" expand="block">
              <h6 *ngIf="control == false">Seleccionar el paciente</h6>
              <h6 *ngIf="control == true">{{nombres + ' ' + apellidos}}</h6>
              <ion-icon *ngIf="control == false" name="add-circle" slot="start"></ion-icon>
            </ion-button>
            <br>
            <ion-button (click)="openText()" expand="block">
                <ion-icon name="add-circle" slot="start"></ion-icon>Nuevo cliente
              </ion-button>
          <!-- </ion-item> -->
          <ion-item *ngIf="conditionNombreNuevo" >
              <ion-label>Nombre de Cliente</ion-label>
             <ion-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}" type="text" ></ion-input>
            </ion-item>
        </div>
        <br>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="tipo" interface="action-sheet" cancelText="Cancelar" placeholder="Seleccionar">
            <ion-select-option value="Consulta">Consulta</ion-select-option>
            <ion-select-option value="Reconsulta">Reconsulta</ion-select-option>
            <ion-select-option value="Teleconsulta">Teleconsulta</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Ficha</ion-label>
          <ion-input type="number" placeholder="Número de ficha" formControlName="numFicha">
          </ion-input>
        </ion-item> -->
        <br>
        <ion-item>
          <ion-label>Tratamiento</ion-label>
          <ion-select [(ngModel)]="tratamiento" [ngModelOptions]="{standalone: true}" interface="action-sheet" cancelText="Cancelar"
            placeholder="Seleccionar">
            <ion-select-option *ngFor="let item of tratamientos" value="{{item.id}}">{{item.nombre | titlecase}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="ion-text-center margin">
          <ion-button [disabled]="!form.valid  || controlHora == false" (click)="createReserva()" type="submit" shape="round"
            id="principal-color-button">
            Registrar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

<ion-header *ngIf="tipo == 'emergencia'">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Crear tratamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'emergencia'">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <!-- <ion-item > -->
          <div class="ion-text-center">
              <ion-button (click)="searchCliente()" expand="block">
                  <h6 *ngIf="control == false">Seleccionar el paciente</h6>
                  <h6 *ngIf="control == true">{{nombres + ' ' + apellidos }}</h6>
                  <ion-icon *ngIf="control == false" name="add-circle" slot="start"></ion-icon>
                </ion-button>
                <br>
                <ion-button (click)="openText()" expand="block">
                    <ion-icon name="add-circle" slot="start"></ion-icon>Nuevo cliente
                  </ion-button>
                <ion-item *ngIf="conditionNombreNuevo" >
                  <ion-label>Nombre de Cliente</ion-label>
                 <ion-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}" type="text" ></ion-input>
                </ion-item>
          </div>
          
        <!-- </ion-item> -->
        <br>
        <ion-item>
          <ion-label>Fecha</ion-label>
          <!-- <ion-datetime formControlName="fecha" interface="action-sheet" min="{{actual
          }}" max="2050" value="{{actual}}" display-format="YYYY-MMM-DD" placeholder="Seleccionar"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
          </ion-datetime> -->
          <ion-input id="input-date" min="{{actual
          }}" max="2050" type="date" formControlName="fecha" ></ion-input>
        </ion-item>
        <br>
        <ion-item>
            <ion-label>Seleccionar la hora</ion-label>
            <ion-datetime minuteValues="00,15,30,45" formControlName="hora" interface="action-sheet"
              placeholder="Seleccionar" display-format="HH:mm"
              picker-format="HH:mm">
            </ion-datetime>
          </ion-item>
          <br>
        <!-- <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="tipo" interface="action-sheet" cancelText="Cancelar" placeholder="Seleccionar">
            <ion-select-option value="Consulta">Consulta</ion-select-option>
            <ion-select-option value="Reconsulta">Reconsulta</ion-select-option>
            <ion-select-option value="Tratamiento">Tratamiento</ion-select-option>
          </ion-select>
        </ion-item> -->
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select [(ngModel)]="tratamiento_emergencia" [ngModelOptions]="{standalone: true}" interface="action-sheet" cancelText="Cancelar"
            placeholder="Seleccionar">
            <ion-select-option *ngFor="let item of tratamientos" value="{{item.id}}">{{item.nombre | titlecase}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="ion-text-center margin">
          <ion-button [disabled]=" !form.valid " (click)="createReserva()" type="submit" shape="round"
            id="principal-color-button">
            Registrar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>