.margin {
    margin-top: 25px;
}
// a, a div, a span, a ion-icon, a ion-label, button, button div, button span, button ion-icon, button ion-label, .ion-tappable, [tappable], [tappable] div, [tappable] span, [tappable] ion-icon, [tappable] ion-label, input, textarea{
//     color: white;
//     background: #3880ff;
//     border: none;
// }
// #input-date{
//     --color: white;
//     --background: #3880ff;
//     // border: none;
// }
ion-input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  ion-input[type="date"]:focus:before,
  ion-input[type="date"]:valid:before {
    content: "";
  }