<ion-header *ngIf="tipo == 'reserva'" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Editar la reserva #{{item.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'reserva'">
    <!-- <form [formGroup]="form"> -->

  <ion-card>
    <ion-card-content>
      <!-- <ion-item>
        <ion-label>Hora de ingreso</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="ingreso"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Hora de llegada</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="llegada"></ion-datetime>
      </ion-item> -->
      <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-input id="input-date"  (ionChange)="eventDate($event)" type="date" [(ngModel)]="fecha" min="{{actual
          }}" max="2050" ></ion-input>
        </ion-item>
        <br>
        <ion-item [disabled]="!conditionHora" (click)="searchHora()">
          <ion-label >Seleccionar la hora</ion-label>
        <h6 *ngIf="controlHora == true">{{dataHour}}</h6>
        <h6 *ngIf="controlHora == false">Seleccionar la hora</h6>

        </ion-item>
        <br>
      
      <div  class="ion-text-center">
          <!-- <ion-item> -->
            <ion-button (click)="searchCliente()" expand="block">
              <h6 *ngIf="control == false">Seleccionar el paciente</h6>
              <h6 *ngIf="control == true">{{nombres + ' ' + apellidos}}</h6>
              <ion-icon *ngIf="control == false" name="add-circle" slot="start"></ion-icon>
            </ion-button>
            <br>
        </div>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="edit()" class="margin" expand="block">
    Editar la reserva
    <ion-icon name="add-circle" slot="start"></ion-icon>
  </ion-button>
<!-- </form> -->
</ion-content>

<ion-header *ngIf="tipo == 'emergencia'" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Editar la emergencia #{{item.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'emergencia'">
  <ion-card>
    <ion-card-content>
        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-input id="input-date"   type="date" [(ngModel)]="fecha" min="{{actual
            }}" max="2050" ></ion-input>
          </ion-item>
      <ion-item>
        <ion-label>Hora de ingreso</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="dataHour"></ion-datetime>
      </ion-item>
         
      <div  class="ion-text-center">
          <!-- <ion-item> -->
            <ion-button (click)="searchCliente()" expand="block">
              <h6 *ngIf="control == false">Seleccionar el paciente</h6>
              <h6 *ngIf="control == true">{{nombres + ' ' + apellidos}}</h6>
              <ion-icon *ngIf="control == false" name="add-circle" slot="start"></ion-icon>
            </ion-button>
            <br>
        </div>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="edit()" class="margin" expand="block">
    Editar la emergencia
    <ion-icon name="add-circle" slot="start"></ion-icon>
  </ion-button>

</ion-content>