<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Doctor Moruno</ion-title>
  </ion-toolbar>
</ion-header> -->
 
<ion-content> 
  <div class="ion-text-center" id="form-login">
    <h1 style="color: white;">
      Iniciar Sesión
    </h1>
  </div>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">El email es requerido</span>
        <span *ngIf="email.errors?.email">El email no es válido</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">La contraseña es requerida</span>
        <span *ngIf="password.errors?.minlength">La contraseña es muy corta</span>
      </div>
    </div>
    <div class="ion-text-center">
      <ion-button id="button" type="submit"  shape="round" [disabled]="!credentials.valid">Iniciar sesión</ion-button>
    </div>
  </form>
</ion-content>