ion-content {
    --padding-top: 30%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url("https://c2100160.ferozo.com/images/consul.jpeg")
        0 0/100% 100% no-repeat;
}

.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button {
    margin-top: 50px;
}
#form-login{
    padding-top: 120px;
}