<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="calendar-number"></ion-icon>
      <ion-label>Reservas
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="shield-half"></ion-icon>
      <ion-label>Tratamiento Ambulatorio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
