<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()" color="light">
            <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Seleccionar hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h3>Horas Disponibles</h3>
    <br>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4"  *ngFor="let item of horasTime" >
            <ion-chip  (click)="select(item)" color="primary" mode="ios" outline="true">
                <ion-icon name="time"></ion-icon>
                <ion-label>{{item}}</ion-label>
              </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
        
    </ion-card>
    <br>
  </div>
 

</ion-content>
