.buttons {
    font-size: 30px;
    margin-left: 15px;
}
ion-item-option{
    background: white;
}
.label-date{
    color: black;
}
img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
#name{
    font-size: 0.7em;
    color: black;
}
ion-row{
    width: 100%;
}
// #input-date{
//     --color: white;
//     --background: #3880ff;
//     // border: none;
// }
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  
ion-datetime{
    color: black; 
}
.date-placeholder {
    display: inline-block;
    position: absolute;
    text-align: left;
    color: #aaa;
    background-color: white;
    cursor: text;
    /* Customize this stuff based on your styles */
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    line-height: 32px;
    padding-left: 12px;
}

ion-grid{
    background: white;
}
#add {
    color: #27ae60;
}
#edit-menu {
    color: #2980b9;
}
#eliminar {
    color: #c0392b;
}
ion-list {
    padding-top: 30px;
}
.text {
    display: inline-block;
    vertical-align: middle;
}
.danger {
    color: red;
    font-weight: bolder;
}

.margin {
    margin-top: 25px;
}
