<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- <br> -->
    <ion-title class="ion-text-center">Reservas del día</ion-title>
    <!-- <ion-button (click)="createReserva()" class="margin" expand="block" color="success">
        Crear Reserva
        <ion-icon name="add-circle" slot="start"></ion-icon>
      </ion-button> -->
      <ion-buttons slot="end">
          <ion-button (click)="createReserva()" color="light">
            <ion-icon id="icon-color" style="font-size: 35px;" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
        
  </ion-toolbar>
  <ion-grid fixed>
   
  <ion-row>
      <ion-col  class="ion-text-center"  size="6">
        <br>
        <!-- <ion-item>
          <ion-label position="floating">Fecha de Reservas</ion-label>
        <ion-input id="input-date" type="date" [(ngModel)]="fecha" ></ion-input>
      </ion-item> -->
        
        <ion-label class="label-date" >Fecha de Reservas</ion-label>
        <!-- <ion-input id="input-date" class="custom-class" type="date" [(ngModel)]="fecha" placeholder="DD/MM/YYYY"></ion-input> -->
        <input min="{{actual}}" type="date"  [(ngModel)]="fecha" />
        <!-- <input id="input-date" [(ngModel)]="fecha" type="date" placeholder="DD/MM/YYYY"></input> -->
          <!-- <ion-datetime [(ngModel)]="fecha" display-format="DD-MM-YYYY" placeholder="DD/MM/YYYY"></ion-datetime> -->
      </ion-col>
      <ion-col size="6">
          <ion-button (click)="searchFilterReserva()" expand="block"  shape="round">
              Buscar
            </ion-button>
            <p *ngIf="buttonOn" >
            <ion-button (click)="reset()" expand="block" shape="round">
                Limpiar
              </ion-button>
            </p>
      </ion-col>
    </ion-row></ion-grid>
</ion-header>

<ion-content >

<!-- <div>
<br> -->
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col  class="ion-text-center"  size="6">
        <ion-label position="inline">Fecha de Reservas</ion-label>
          <ion-datetime [(ngModel)]="fecha" display-format="DD-MM-YYYY" placeholder="DD/MM/YYYY"></ion-datetime>
      </ion-col>
      <ion-col size="6">
          <ion-button (click)="searchFilterReserva()" expand="block"  shape="round">
              Buscar
            </ion-button>
            <p *ngIf="buttonOn" >
            <ion-button (click)="reset()" expand="block" shape="round">
                Limpiar
              </ion-button>
            </p>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  

  <ion-list *ngIf="reservas.length == 0 && !det">
    <ion-button expand="block">
      Cargando
      <ion-icon name="reload" style="font-size: 25px;" slot="end" #loadingIcon></ion-icon>
    </ion-button>
  </ion-list>

  <ion-list *ngIf="reservas.length == 0 && det">
    <ion-item>
      <span class="text danger">No hay reservas del día</span>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="reservas.length >= 1 && det">
    <ion-item-sliding *ngFor="let item of reservas" >
        <ion-item>
          <ion-row>
              <ion-col size="12">
                  <ion-label>
                      <p id="name"><b>{{item.paciente.nombre}}</b> </p>
                      <p id="name" *ngIf="item.observacion" ><b>{{item.observacion}}</b> </p>
                      <ion-row>
                        <ion-col size="6">
                            <p>{{item.hora}}</p>
                        </ion-col>
                        <ion-col class="ion-text-left" size="6">
                            <p >Tipo: <span>{{item.tipo}}</span> </p> 
                          </ion-col>
                      </ion-row>
                  </ion-label>
                </ion-col>
          </ion-row>
        <ion-note slot="end">
          Deslizar
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="viewReserva(item.id,item)">
          <ion-icon id="add"  slot="icon-only" name="eye"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="editReserva(item)">
          <ion-icon id="edit-menu"  slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="deleteReserva(item.id)">
          <ion-icon id="eliminar"  slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>

</ion-content>