#img-user {
    img {
        border-radius: 100px;
        width: 150px;
        height: 150px;
    }
}
#icon-color {
    color: #c33932;
}
#title-header {
    color: white;
}
#info-user {
    position: relative;
    top: 25px;
}

#button-logout {
    --background: #c33932;
}
