<ion-header class="ion-no-border">
  <ion-toolbar color='primary'>
    <ion-title id="title-header" class="ion-text-center">Perfil #{{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div id="img-user" class="ion-text-center">
    <img *ngIf="foto == 'null'" [src]="none">
    <img *ngIf="foto != 'null'" [src]="foto">
    <div id="info-user">
      <h4>{{email}}</h4>
      <br>
      <br>
      <ion-item>
        <ion-icon id="icon-color" slot="start" name="person-circle"></ion-icon>
        <ion-label>{{username}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon id="icon-color" slot="start" name="browsers"></ion-icon>
        <ion-label>{{rol}}</ion-label>
      </ion-item>
      <br>
      <ion-button (click)="logout()" id="button-logout" shape="round">
        Cerrar sesión
      </ion-button>
      <br>
    </div>
    <br>

  </div>
</ion-content>