<ion-header *ngIf="tipo == 'reserva'" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reservas del día #{{item.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'reserva'" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center">
          <strong>NUM FICHA </strong>{{item.num_ficha}}

      </div>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/user.png" />
        </ion-avatar>
        <ion-label>
        <p>{{item.paciente.nombre}}</p>
        <p>Tipo: {{item.tipo}}</p>
        </ion-label>
      </ion-item>
      <br>
      <ion-grid>
          <ion-row>
              <ion-col size="6">
               <b>Fecha de Reserva</b> 
              <p>{{item.fecha}}</p>  
              </ion-col>
              <ion-col size="6">
                  <b>Tipo de tratamiento</b> 
  
              <p>  {{item.tratamiento}}</p>
  
              </ion-col>
            </ion-row>
        <!-- <ion-row>
          <ion-col class="ion-text-center">
            <br>
            <strong>FECHA : </strong>{{reserva.fecha}}
            <br>
            <strong>FICHA : </strong>{{reserva.num_ficha}}
            <br>
            <div *ngIf="reserva.hora_ingreso">
              <strong>HORA DE INGRESO : </strong>{{reserva.hora_ingreso}}
            </div>
            <div *ngIf="reserva.hora_llegada">
              <strong>HORA DE LLEGADA : </strong>{{reserva.hora_llegada}}
            </div>
            <strong>CLIENTE : </strong>{{paciente.nombres}} {{' ' + paciente.apellidos}}
            <br>
            <strong>TIPO : </strong>{{reserva.tipo}}
            <br>
            <strong>TRATAMIENTO : </strong>{{tratamiento.nombre | titlecase}}
            <br>
            <strong>CANTIDAD : </strong>{{tratamiento.cantidad}} unidade(s)
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col class="ion-text-center margin">
            <ion-button (click)="dismiss()">Cerrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-header *ngIf="tipo == 'emergencia'" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Emergencia del día #{{item.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tipo == 'emergencia'" class="ion-padding">
  <ion-card>
    <ion-card-content>

      <ion-grid>
          <ion-item>
              <ion-avatar slot="start">
                <img src="assets/user.png" />
              </ion-avatar>
              <ion-label>
              <p>{{item.paciente.nombre}}</p>
              <p>Tipo: {{item.tipo}}</p>
              </ion-label>
            </ion-item>
            <ion-row>
                <ion-col size="6">
                 <b>Fecha de Reserva</b> 
                <p>{{item.fecha}}</p>  
                </ion-col>
                <ion-col size="6">
                    <b>Tipo de tratamiento</b> 
    
                <p>  {{item.tratamiento}}</p>
    
                </ion-col>
              </ion-row>
          <!-- <ion-col class="ion-text-center">
            <br>
            <strong>FECHA : </strong>{{emergencia.fecha}}
            <br>
            <strong>HORA : </strong>{{emergencia.hora}}
            <br>
            <div *ngIf="emergencia.hora_ingreso">
              <strong>HORA DE INGRESO : </strong>{{emergencia.hora_ingreso}}
            </div>
            <strong>CLIENTE : </strong>{{paciente.nombres}} {{' ' + paciente.apellidos}}
            <br>
            <strong>TIPO : </strong>{{emergencia.tipo}}
            <br>
            <strong>TRATAMIENTO : </strong>{{tratamiento.nombre | titlecase}}
            <br>
            <strong>CANTIDAD : </strong>{{tratamiento.cantidad}} unidade(s)
          </ion-col> -->
        <ion-row>
          <ion-col class="ion-text-center margin">
            <ion-button (click)="dismiss()">Cerrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>