<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buscar cliente</ion-title>
 
  </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true" [debounce]="2000"
(ionChange)="searchProductos()"
[autocomplete]="true"

></ion-searchbar>
<ion-content>


  <ion-list>
    <ion-item *ngFor="let data of itemListData " (click)="select(data)">
      <ion-label>{{( data.nombres | titlecase) + ' ' + (data.apellidos | titlecase)}}</ion-label>
      <ion-icon id="add" (click)="select(data)" name="add-circle" class="buttons"></ion-icon>
    </ion-item>
    <!-- <ion-virtual-scroll [items]="pacientes" approxItemHeight="320px">
        <ion-card *virtualItem="let item;">
            <ion-item (click)="select(item)">
                <ion-label>{{(item.apellidos | titlecase) + ' ' + (item.nombres | titlecase)}}</ion-label>
                <ion-icon id="add" (click)="select(item)" name="add-circle" class="buttons"></ion-icon>
              </ion-item>
        </ion-card>
      </ion-virtual-scroll> -->
    
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>